<p>test2 works!</p>

Enter Id:   <input type="text" name="id"   [(ngModel)]="person.id"   /> <br/>
Enter Name: <input type="text" name="name" [(ngModel)]="person.name" /> <br/>

<button (click)="submit()">Click Me!</button>

<br/><br/>
id: {{person.id}} <br/>
name: {{person.name}} <br/>
age: {{person.age}} <br/><br/>

<h4><u>Address</u></h4>
StreetNo: {{person.address.streetNo}} <br/>
City: {{person.address.city}} <br/>
State: {{person.address.state}} <br/> <br/>

<h4><u>Hobbies</u></h4>
<ul>
    <li *ngFor="let hobby of person.hobbies">{{hobby}}</li>
</ul>