.container {
    width: 35%; 
    height: 650px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 8px rgba(65, 66, 65, 0.795);
}
h1{
    margin-top: 1px;
}