<!-- <app-test></app-test> -->
<!-- <app-test2><app-test2/>-->
<!-- <app-showemployees></app-showemployees> -->
<!-- <app-login></app-login>  -->
<!-- <app-registration></app-registration> -->
<!-- <app-showempbyid></app-showempbyid> -->
<!-- <app-product></app-product> -->
<!-- <app-cart></app-cart> -->

<app-header></app-header>

<!-- <marquee><h1 style="color: blue">Welcome to Angular Routing</h1></marquee> -->

<router-outlet></router-outlet>
    